# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# ปลดล็อกโฟลเดอร์เหล่านี้เพื่อให้ Builder มองเห็น
# dist
dist-ssr
*.local
# node_modules/
# dist/
# dist-electron/
out/
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?release/
build/

release/
build/
dist/
dist-electron/

.agents/
skills-lock.json
