<?xml version="1.0"?>
<robot name="rhino_01">

  <!-- AMR Simulation Config -->
  <amr_sim_config>
    <kinematic_model>ackermann</kinematic_model>
    <geometry_type>rectangle</geometry_type>
    <wheel_base>0.680</wheel_base>
    <axle_track>0.420</axle_track>
    <robot_radius>0.542</robot_radius>
    <wheel_radius>0.0700</wheel_radius>
    <wheel_width>0.0550</wheel_width>
    <laser_range_max>12.0</laser_range_max>
    <laser_x>0.410</laser_x>
    <laser_y>0.000</laser_y>
    <laser_height>0.100</laser_height>
    <ticks_per_meter>2000.0</ticks_per_meter>
    
  </amr_sim_config>

  <material name="body_color">
    <color rgba="0.00 0.15 0.96 1.0" />
  </material>

  <!-- Body (rectangle) -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.100" rpy="0 0 0" />
      <geometry>
        <box size="0.860 0.660 0.200" />
      </geometry>
      <material name="body_color" />
    </visual>
  </link>

  <!-- LiDAR sensor -->
  <link name="laser_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.050" length="0.100" />
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0" />
      </material>
    </visual>
  </link>

  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser_link" />
    <origin xyz="0.410 0.000 0.250" rpy="0 0 0" />
  </joint>

</robot>